body {
  margin: 0;
  font-family: sans-serif;
  background: #fafafa;
}

pre {
  font-size: 16px;
  background-color: #DBDBDB;
  padding: 10px;
  border-radius: 2px;
}

.side-bar {
  padding: 10px 0 0 20px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  border-right: 1px solid #000;
}
.side-bar h1 {
  text-align: center;
}

.list-item {
  margin: 10px 0;
}
.list-item a {
  color: #242424;
}

.main-content {
  padding-left: 400px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.description {
  font: normal 20px sans-serif;
}

.test {
  font: normal 16px monospace;
  padding: 5px 0;
}

.btn {
  padding: 5px 17px;
  margin: 0 10px 0 0;
  border: 1px solid #242424;
  border-radius: 2px;
  font-size: 16px;
  background-color: #fff;
  color: #242424;
}

.test-btn {
  font-weight: bold;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 5px 17px;
  margin: 0 10px 0 0;
  border-radius: 2px;
  border: 1px solid #242424;
  font-size: 14px;
  background-color: #fff;
  color: #242424;
  height: 30px;
  position: relative;
  top: -1px;
}

.result {
  margin: 20px 0 0;
}

.error-message {
  color: #FF3D11;
  border-radius: 2px;
  padding: 2px 10px;
  background-color: rgba(255, 0, 0, 0.08);
  line-height: 1.6em;
  margin: 20px 0 0;
}

.result-message.fail {
  color: #242424;
  border-radius: 2px;
  padding: 2px 10px;
  background-color: rgba(36, 36, 36, 0.14);
}
.result-message.success {
  color: #197C45;
  border-radius: 2px;
  padding: 2px 10px;
  background-color: rgba(0, 255, 43, 0.2);
}

.exercise-item {
  margin: 20px 0 40px;
  max-width: 600px;
}

.editor {
  border: 1px solid #242424;
}

.CodeMirror {
  height: 200px;
}

.rd3-basic-chart {
  max-width: 600px;
  text-align: center;
}
